{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

	{% if app_list %}
	    {% for app in app_list %}
	        <div class="app-{{ app.app_label }} module">
	        <table>
	        <caption>
	            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
	        </caption>
	        {% for model in app.models %}
	            <tr class="model-{{ model.object_name|lower }}">
	            {% if model.admin_url %}
	                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
	            {% else %}
	                <th scope="row">{{ model.name }}</th>
	            {% endif %}

	            {% if model.add_url %}
	                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
	            {% else %}
	                <td>&nbsp;</td>
	            {% endif %}

	            {% if model.admin_url %}
	                {% if model.view_only %}
	                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
	                {% else %}
	                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
	                {% endif %}
	            {% else %}
	                <td>&nbsp;</td>
	            {% endif %}
	            </tr>
	        {% endfor %}
	        </table>
	        </div>
	    {% endfor %}
	{% else %}
	    <p>{% trans "You don't have permission to view or edit anything." %}</p>
	{% endif %}

	<div class="app-accounts module">
        <table>
        <caption>
            <div class="section" title="Models in the Accounts application">Import and Export data in Excel File</div>
        </caption>
        
            <tbody>
            	<tr class="model-user">
            		<th scope="row"> Categories </th>
                    <td scope="row"><a href="{% url 'download_template' 'Category.xlsx' %}" download class="addlinks">Download Template</a></td>
            		<td scope="row"><a href="{% url 'category_upload' %}" class="addlinks">Import Data </a></td>
            		<td scope="row"><a href="{% url 'download_category' %}" class="removelink">Export Categories</a></td>
            	</tr>

            	<tr class="model-user">
            		<th scope="row"> Countries </th>
                    <td scope="row"><a href="{% url 'download_template' 'Country.xlsx' %}" download class="addlinks">Download Template</a></td>
            		<td scope="row"><a href="{% url 'country_upload' %}" class="addlinks">Import Data</a></td>
            		<td scope="row"><a href="{% url 'download_country' %}" class="removelink">Export Countries</a></td>
            	</tr>
                <!--
            	<tr class="model-user">
            		<th scope="row"> Qualities </th>
                    <td scope="row"><a href="{% url 'download_template' 'Quality.xlsx' %}" download class="addlinks">Download Template</a></td>
            		<td scope="row"><a href="{% url 'quality_upload' %}" class="addlinks">Import Data</a></td>
            		<td scope="row"><a href="{% url 'download_quality' %}" class="removelink">Export Qualities</a></td>
            	</tr>
                -->
            	<tr class="model-user">
            		<th scope="row"> Regions </th>
                    <td scope="row"><a href="{% url 'download_template' 'Region.xlsx' %}" download class="addlinks">Download Template</a></td>
            		<td scope="row"><a href="{% url 'region_upload' %}" class="addlinks">Import Data</a></td>
            		<td scope="row"><a href="{% url 'download_region' %}" class="removelink">Export Regions</a></td>
            	</tr>

            	<tr class="model-user">
            		<th scope="row"> Resources </th>
                    <td scope="row"><a href="{% url 'download_template' 'Resource.xlsx' %}" download class="addlinks">Download Template</a></td>
            		<td scope="row"><a href="{% url 'resource_upload' %}" class="addlinks">Import Data</a></td>
            		<td scope="row"><a href="{% url 'download_resource' %}" class="removelink">Export Resources</a></td>
            	</tr>
            	<!--
            	<tr class="model-user">
            		<th scope="row"> Tags </th>
                    <td scope="row"><a href="{% url 'download_template' 'Tags.xlsx' %}" download class="addlinks">Download Template</a></td>
            		<td scope="row"><a href="{% url 'tag_upload' %}" class="addlinks">Import Data</a></td>
            		<td scope="row"><a href="{% url 'download_tags' %}" class="removelink">Export Tags</a></td>
            	</tr>
                -->
            	<tr class="model-user">
            		<th scope="row"> Themes </th>
                    <td scope="row"><a href="{% url 'download_template' 'Theme.xlsx' %}" download class="addlinks">Download Template</a></td>
            		<td scope="row"><a href="{% url 'theme_upload' %}" class="addlinks">Import Data</a></td>
            		<td scope="row"><a href="{% url 'download_theme' %}" class="removelink">Export Themes</a></td>
            	</tr>
        	</tbody>
		</table>

        <table>
        <caption>
            <div class="section" title="Models in the Accounts application">Studies</div>
        </caption>
        
            <tbody>
                <tr class="model-user">
                    <th scope="row"> Studies </th>
                    <!--<td scope="row"><a href="{% url 'download_template' 'Study.xlsx' %}" download class="addlinks">Download Template</a></td>-->
                    <td scope="row"><a href="{% url 'download_template' 'Study.xlsx' %}" download class="addlinks">Study Template</a></td>
                    <td scope="row"><a href="{% url 'download_study_related_template' %}" download class="addlinks">Related Data</a></td>
                    <td scope="row"><a href="{% url 'study_upload' %}" class="addlinks">Import Data</a></td>
                    <!--<td scope="row"><a href="" class="removelink">Export Studies</a></td>-->
                </tr>

                <!--<tr class="model-user">
                    <th scope="row"> Sub Themes </th>
                    <td scope="row"><a href="{% url 'download_template' 'Sub_Theme.xlsx' %}" download class="addlinks">Sub Theme Template</a></td>
                    <td scope="row"><a href="{% url 'download_sub_theme_related_template' %}" download class="addlinks">Related Data</a></td>
                    <td scope="row"><a href="{% url 'sub_theme_upload' %}" class="addlinks">Import Data</a></td>
                    <td scope="row"><a href="" class="removelink">Export Sub Themes</a></td>
                </tr>

                <tr class="model-user">
                    <th scope="row"> Sub Categories </th>
                    <td scope="row"><a href="{% url 'download_template' 'Sub_Category.xlsx' %}" download class="addlinks">Sub Category Template</a></td>
                    <td scope="row"><a href="{% url 'download_sub_category_related_template' %}" download class="addlinks">Related Data</a></td>
                    <td scope="row"><a href="{% url 'sub_category_upload' %}" class="addlinks">Import Data</a></td>
                    <td scope="row"><a href="" class="removelink">Export Sub Category</a></td>
                </tr>-->

            </tbody>
        </table>
	</div>

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}