{% extends "study/base_confirm.html" %}

{% block app_upload %} Upload Country {% endblock %}

{% block upload_title %} Country Upload {% endblock %}

{% block content %}

<table>
	<thead>
		<tr>
			<th> Serial no.</th>
			<th> Country Name </th>
		</tr>
	</thead>
	<tbody>
		
		{% for row in excel_data %}
				
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>
					{% for cell in row %}
						{{ cell }}&nbsp;&nbsp;
        			{% endfor %}
				</td>
			</tr>
			
		{% endfor %}	

		<tr class="row2">
			<td></td>
			<td>
				
				<form method="POST" enctype="multipart/form-data" action="{% url 'country_upload_confirm' %}">
					{% csrf_token %}					
					<!--<input type="text" value="{{ excel_data }}" name="excel_data_values">-->
					<button type="submit" class="btn btn-upload">Save</button>
				</form>

			</td>
		</tr>
	</tbody>
</table>

{% endblock %}