{% extends "study/base_confirm.html" %}

{% block app_upload %} Upload Study {% endblock %}

{% block upload_title %} Study Upload {% endblock %}

{% block content %}

<table>
	<thead>
		<tr>
			<th> Serial no.</th>
			<th> Title </th>
			<th> Description </th>
			<th> Author </th>
			<th> Year </th>
			<th> Country </th>
			<th> Region </th>
			<th> Resource </th>
			<th> Quality </th>
			<th> Link </th>
			<th> Theme One </th>
			<th> Theme Two </th>
			<th> Theme Three </th>
			<th> Theme Four </th>
			<th> Theme Five </th>
			<th> Theme Six </th>
			<th> Theme Seven </th>
			<th> Theme Eight </th>
			<th> Category One </th>
			<th> Category Two </th>
			<th> Category Three </th>
			<th> Category Four </th>
			<th> Category Five </th>
			
			
		</tr>
	</thead>
	<tbody>
		
		{% for row in excel_data %}
				
			<tr>
				<td>{{ forloop.counter }}</td>

				{% for cell in row %}
					<td> {{ cell }} </td>
				{% endfor %}

			</tr>
			
		{% endfor %}	

		<tr class="row2">
			<td></td>
			<td colspan="22">
				
				<form method="POST" enctype="multipart/form-data" action="{% url 'study_upload_confirm' %}">
					{% csrf_token %}					
					<button type="submit" class="btn btn-upload">Save</button>
				</form>

			</td>
		</tr>
	</tbody>
</table>

{% endblock %}